[submodule "swift-proxy"]
	path = swift-proxy
	url = https://github.com/o2alexanderfedin/nolock-ocr-swift.git
[submodule "nolock-capture-lib"]
	path = nolock-capture-lib
	url = https://github.com/o2alexanderfedin/nolock-capture.git
